/* Reset */
body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
}

/* Grid container */
#menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(3, 1fr);    /* 3 rows */
  width: 100vw;
  height: 100vh; /* Full screen */
}

/* Grid items */
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* prevent overflow if images */
  background-color: #fcbc31;
  transition: transform 0.3s;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make images cover each box */
}

/* Hover effect */
.item:hover {
  transform: scale(1.03);
  cursor: pointer;
}

/* Responsive */
@media (max-width: 600px) {
  #menu-grid {
    grid-template-columns: 1fr 1fr; /* still 2 columns */
    grid-template-rows: repeat(3, 1fr);
  }
}
